# cat /usr/share/doc/dhcp*/dhcpd.conf.sample
# dhcpd.conf
#
# Sample configuration file for ISC dhcpd
#
subnet 172.16.0.0 netmask 255.255.255.0 {
  range  172.16.0.150 172.16.0.225;
  option domain-name-servers 172.16.0.69;
  option domain-name "test-2w.cdastu.com";
  option routers 172.16.0.1;
  option broadcast-address 172.16.0.254;
  default-lease-time 600;
  max-lease-time 7200;
}



%{ for host,ip,mac in dhcp_nodes ~}
host ${host} {
  hardware ethernet ${mac};
  fixed-address ${ip};
}
%{ endfor ~}
 


