#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Mac stuff
.DS_Store

# openshift pull-secret
pull-secret.txt
.pull_secret

# local
makefile
**/artifacts/*
**/terraform.tfstate.d/*
**/installer/*
.terraform.lock.hcl
settings.json
