#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Mac stuff
.DS_Store

# openshift pull-secret
pull-secret

# local
makefile
**/artifacts/*
**/post/*
