// ID identifying the cluster to create. Use your username so that resources created can be tracked back to you.
cluster_id = "upi46"

// Base domain from which the cluster domain is a subdomain.
base_domain = "ncolon.xyz"

// Name of the vSphere server. The dev cluster is on "vcsa.vmware.devcluster.openshift.com".
vsphere_server = "vcsa67.rtp.raleigh.ibm.com"

// User on the vSphere server.
vsphere_user = "administrator@vsphere.local"

// Password of the user on the vSphere server.
vsphere_password = "MySecretPa55w0rd"

// Name of the vSphere cluster. The dev cluster is "devel".
vsphere_cluster = "cluster01"

// Name of the vSphere data center. The dev cluster is "dc1".
vsphere_datacenter = "dc01"

// Name of the vSphere data store to use for the VMs. The dev cluster uses "nvme-ds1".
vsphere_datastore = "openshift"

// Name of the RHCOS VM template to clone to create VMs for the cluster
vm_template = "rhcos-4.6-template"

// Name of the VM Network for your cluster nodes
vm_network = "vdpg-192.168.100"

// Name of the VM Network for loadbalancer NIC in loadbalancer.
// loadbalancer_network = "vDPortGroup"

// The machine_cidr where IP addresses will be assigned for cluster nodes.
// Additionally, IPAM will assign IPs based on the network ID. 
machine_cidr = "192.168.100.0/24"

// The number of control plane VMs to create. Default is 3.
control_plane_count = 3

// The number of compute VMs to create. Default is 3.
compute_count = 3

// Set bootstrap_ip, control_plane_ip, and compute_ip if you want to use static
// IPs reserved someone else, rather than the IPAM server.

// The IP address to assign to the bootstrap VM.
bootstrap_ip_address = "192.168.100.80"

// The IP addresses to assign to the control plane VMs. The length of this list
// must match the value of control_plane_count.
control_plane_ip_addresses = ["192.168.100.81", "192.168.100.82", "192.168.100.83"]

// The IP addresses to assign to the compute VMs. The length of this list must
// match the value of compute_count.
compute_ip_addresses = ["192.168.100.84", "192.168.100.85", "192.168.100.86"]

// The IP addresses of your DNS servers for your OpenShift nodes
vm_dns_addresses = ["9.42.106.2", "9.42.106.3"]

// The IP address of the default gateway.  If not set, it will use the frist host of the machine_cidr range.
// vm_gateway = "192.168.100.254"

// Path to your OpenShift Pull Secret
openshift_pull_secret = "~/.pull-secret"

// Set to true (default) so that OpenShift self-hosts its own LoadBalancers (similar to IPI deployments)
// If set to false, you must bring your own LoadBalancers and point the api enpoint to masters and apps endpoint to workers
create_openshift_vips = true

// If create_openshift_vips is set to true, you must provide the IP addresses that will be used for the api and *.apps endpoints
// These IP addresses MUST be on the same CIDR range as machine_cidr
openshift_api_virtualip = "192.168.100.201"
openshift_ingress_virtualip = "192.168.100.200"

// The number of storage VMs to create. Default is 0.  Set to 0 or 3
// storage_count = 3


// The IP addresses to assign to the storage VMs. The length of this list must
// match the value of storage_count.
//storage_ip_addresses = ["192.168.100.87", "192.168.100.88", "192.168.100.89"]

// Set MTU for worker VMs
// openshift_worker_mtu = 9000

// Set NTP server
// openshift_ntp_serevr = vistime.rtp.raleigh.ibm.com