TYPE=Ethernet
BOOTPROTO=none
NAME=${ens_device}
DEVICE=${ens_device}
ONBOOT=yes
IPADDR=${ip_address}
PREFIX=${prefix}
GATEWAY=${gateway}
DOMAIN=${cluster_domain}
%{ for index, ip in dns_addresses ~}
DNS${index+1}=${ip}
%{ endfor ~}
