{
  "ignition": {
    "version": "3.1.0"
  },
  "passwd": {
    "users": [
      {
        "name": "core",
        "sshAuthorizedKeys": [
          "${core_ssh_public_key}"
        ]
      }
    ]
  },
  "storage": {
    "files": [
      {
        "overwrite": true,
        "path": "/etc/haproxy/haproxy.conf",
        "contents": {
          "source": "data:text/plain;charset=utf-8;base64,${haproxy_file_config}"
        },
        "mode": 420
      },
      {
        "overwrite": true,
        "path": "/etc/coredns/Corefile",
        "contents": {
          "source": "data:text/plain;charset=utf-8;base64,${coredn_file_corefile}"
        },
        "mode": 420
      },
      {
        "overwrite": true,
        "path": "/etc/coredns/cluster.db",
        "contents": {
          "source": "data:text/plain;charset=utf-8;base64,${coredn_file_clusterdb}"
        },
        "mode": 420
      },
      {
        "overwrite": true,
        "path": "/etc/sysconfig/network-scripts/ifcfg-ens192",
        "contents": {
          "source": "data:text/plain;charset=utf-8;base64,${staticip_file_vm}"
        },
        "mode": 420
      },
%{ if dual_homed ~}
      {
        "overwrite": true,
        "path": "/etc/sysconfig/network-scripts/ifcfg-ens224",
        "contents": {
          "source": "data:text/plain;charset=utf-8;base64,${staticip_file_loadbalancer}"
        },
        "mode": 420
      },
%{ endif ~}
      {
        "overwrite": true,
        "path": "/etc/hostname",
        "contents": {
          "source": "data:text/plain;charset=utf-8;base64,${hostname_file}"
        },
        "mode": 420
      }
    ]
  },
  "systemd": {
    "units": [
      {
        "name": "haproxy.service",
        "enabled": true,
        "contents": "${haproxy_systemd_unit}"
      },
      {
        "name": "coredns.service",
        "enabled": true,
        "contents": "${coredns_systemd_unit}"
      }
    ]
  }
}